@model AssignmentSearchViewModel

<form asp-action="Index" method="post">

    <div class="row">
        <div class="col-sm-5">
            <input asp-for="Student" class="form-control" placeholder="Student" />
        </div>
        <div class="col-sm-5">
            <select asp-for="Course" class="form-control " asp-items="@ViewBag.Courses"></select>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>

</form>