@model TaskingSystem.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.UserName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark btn-sm " asp-action="Edit" asp-route-id="@Model?.CourseCode">Edit</a> |
    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>
